In [55]:
import pandas as pd
import sklearn
import numpy as np
df1=pd.read_csv("News_articles_dataset.csv",parse_dates=["Date"])
df2=pd.read_csv("HistoricalData_1623748350213.csv",parse_dates=["Date"])

In [56]:

df1.isnull().sum()

Date         0
Headlines    0
dtype: int64

In [57]:
df1.sort_index(inplace=True)

In [58]:
df1.head()

        Date                                          Headlines
0 2015-01-01  What Can We Expect From Apple Inc. In 2015? 1 ...
1 2015-02-01  What to expect from Apple in 2015 beyond its s...
2 2015-03-01  Mountie: An inexpensive and innovative way to ...
3 2015-04-01  Donald Yacktman on the Sources of Moats, His C...
4 2015-05-01  SIM-free iPhone 6, 6 Plus reportedly debuting ...

In [59]:
df2.head()

        Date Close/Last    Volume     Open     High        Low
0 2021-06-14    $130.48  96906490  $127.82  $130.54    $127.07
1 2021-06-11    $127.35  53522370  $126.53  $127.44     $126.1
2 2021-06-10    $126.11  71186420  $127.02  $128.19    $125.94
3 2021-06-09    $127.13  56877940  $127.21  $127.75    $126.52
4 2021-06-08    $126.74  74403770   $126.6  $128.46  $126.2101

In [60]:
df2.sort_values('Date',inplace=True)

In [61]:
df2.reset_index()

      index       Date Close/Last     Volume      Open      High        Low
0      2515 2011-06-15   $11.6696  395841722  $11.7768  $11.7964   $11.6029
1      2514 2011-06-16   $11.6129  507299317   $11.675  $11.7386   $11.3689
2      2513 2011-06-17   $11.4379  614859874  $11.7496  $11.7589   $11.4057
3      2512 2011-06-20   $11.2614  639595904  $11.3341  $11.3464   $11.0893
4      2511 2011-06-21   $11.6179  492451483    $11.31  $11.6357   $11.2571
...     ...        ...        ...        ...       ...       ...        ...
2511      4 2021-06-08    $126.74   74403770    $126.6   $128.46  $126.2101
2512      3 2021-06-09    $127.13   56877940   $127.21   $127.75    $126.52
2513      2 2021-06-10    $126.11   71186420   $127.02   $128.19    $125.94
2514      1 2021-06-11    $127.35   53522370   $126.53   $127.44     $126.1
2515      0 2021-06-14    $130.48   96906490   $127.82   $130.54    $127.07

[2516 rows x 7 columns]

In [62]:
a=pd.merge(df1,df2,how='inner',on=['Date'])

a.index=a['Date']

In [63]:
a["Close/Last"]=a["Close/Last"].str.replace('$', '').astype(float)
a["Open"]=a["Open"].str.replace('$', '').astype(float)
a["High"]=a["High"].str.replace('$', '').astype(float)
a["Low"]=a["Low"].str.replace('$', '').astype(float)

In [64]:
a.head()

,Date,Headlines,Close/Last,Volume,Open,High,Low
Date,,,,,,,
2015-04-01,2015-04-01,"Donald Yacktman on the Sources of Moats, His C...",31.0625,161852560,31.2050,31.2800,30.7750
2015-05-01,2015-05-01,"SIM-free iPhone 6, 6 Plus reportedly debuting ...",32.2375,229396000,31.5250,32.5325,31.3250
2015-06-01,2015-06-01,"Technology Transforming Cars Into ""Phones On W...",32.6337,128064080,32.8000,32.8475,32.5125
2015-07-01,2015-07-01,Apple issues fourth developer beta of OS X 10....,31.6500,120827560,31.7250,31.7350,31.4975
2015-09-01,2015-09-01,Samsung is reportedly making a secret new chip...,26.9300,306248680,27.5375,27.9700,26.8400

In [65]:
a.drop('Date',axis=1,inplace=True)

In [66]:
a.head()

,Headlines,Close/Last,Volume,Open,High,Low
Date,,,,,,
2015-04-01,"Donald Yacktman on the Sources of Moats, His C...",31.0625,161852560,31.2050,31.2800,30.7750
2015-05-01,"SIM-free iPhone 6, 6 Plus reportedly debuting ...",32.2375,229396000,31.5250,32.5325,31.3250
2015-06-01,"Technology Transforming Cars Into ""Phones On W...",32.6337,128064080,32.8000,32.8475,32.5125
2015-07-01,Apple issues fourth developer beta of OS X 10....,31.6500,120827560,31.7250,31.7350,31.4975
2015-09-01,Samsung is reportedly making a secret new chip...,26.9300,306248680,27.5375,27.9700,26.8400

In [67]:
a['close_price'] = a['Close/Last'].shift(1)

In [68]:
a['closed_price_diff']=''
a['closed_price_diff']=a['Close/Last']-a['close_price']

In [69]:
a.head()

,Headlines,Close/Last,Volume,Open,High,Low,close_price,closed_price_diff
Date,,,,,,,,
2015-04-01,"Donald Yacktman on the Sources of Moats, His C...",31.0625,161852560,31.2050,31.2800,30.7750,NaN,NaN
2015-05-01,"SIM-free iPhone 6, 6 Plus reportedly debuting ...",32.2375,229396000,31.5250,32.5325,31.3250,31.0625,1.1750
2015-06-01,"Technology Transforming Cars Into ""Phones On W...",32.6337,128064080,32.8000,32.8475,32.5125,32.2375,0.3962
2015-07-01,Apple issues fourth developer beta of OS X 10....,31.6500,120827560,31.7250,31.7350,31.4975,32.6337,-0.9837
2015-09-01,Samsung is reportedly making a secret new chip...,26.9300,306248680,27.5375,27.9700,26.8400,31.6500,-4.7200

In [70]:
a['profit/loss']=''
a['profit/loss'] = a['closed_price_diff'].apply(lambda x: 1 if x>0 else 0)

In [71]:
a.head()

,Headlines,Close/Last,Volume,Open,High,Low,close_price,closed_price_diff,profit/loss
Date,,,,,,,,,
2015-04-01,"Donald Yacktman on the Sources of Moats, His C...",31.0625,161852560,31.2050,31.2800,30.7750,NaN,NaN,0
2015-05-01,"SIM-free iPhone 6, 6 Plus reportedly debuting ...",32.2375,229396000,31.5250,32.5325,31.3250,31.0625,1.1750,1
2015-06-01,"Technology Transforming Cars Into ""Phones On W...",32.6337,128064080,32.8000,32.8475,32.5125,32.2375,0.3962,1
2015-07-01,Apple issues fourth developer beta of OS X 10....,31.6500,120827560,31.7250,31.7350,31.4975,32.6337,-0.9837,0
2015-09-01,Samsung is reportedly making a secret new chip...,26.9300,306248680,27.5375,27.9700,26.8400,31.6500,-4.7200,0

In [73]:
a.drop(['Open','Low','High','Volume','Close/Last','close_price','closed_price_diff'],axis=1,inplace=True)

In [74]:
a.head()

                                                    Headlines  profit/loss
Date
2015-04-01  Donald Yacktman on the Sources of Moats, His C...            0
2015-05-01  SIM-free iPhone 6, 6 Plus reportedly debuting ...            1
2015-06-01  Technology Transforming Cars Into "Phones On W...            1
2015-07-01  Apple issues fourth developer beta of OS X 10....            0
2015-09-01  Samsung is reportedly making a secret new chip...            0

In [75]:
import nltk
from nltk.corpus import stopwords
import string
def text_cleaning(a):
    remove_punctuation=[char for char in a if char not in string.punctuation]
    remove_punctuation=''.join(remove_punctuation)
    return [word for word in remove_punctuation.split() if word.lower() not in stopwords.words('english')]

In [76]:
print(a.iloc[:,0].apply(text_cleaning))

Date
2015-04-01    [Donald, Yacktman, Sources, Moats, Concern, Ap...
2015-05-01    [SIMfree, iPhone, 6, 6, Plus, reportedly, debu...
2015-06-01    [Technology, Transforming, Cars, Phones, Wheel...
2015-07-01    [Apple, issues, fourth, developer, beta, OS, X...
2015-09-01    [Samsung, reportedly, making, secret, new, chi...
                                    ...
2021-05-28    [Apple, pushes, back, launch, podcast, subscri...
2021-01-06    [Judge, dismisses, charges, Apple, security, c...
2021-04-06    [Global, equities, nearly, grasp, alltime, rec...
2021-05-06    [Apple, employees, want, remotework, flexibili...
2021-06-14    [Cramers, Mad, Money, Recap, FAANG, Microsoft,...
Name: Headlines, Length: 1596, dtype: object

In [77]:
from sklearn.feature_extraction.text import CountVectorizer
c_vectorizer=CountVectorizer(analyzer=text_cleaning).fit(a['Headlines'])

c_vectorizer.vocabulary_

{'Donald': 12797,
 'Yacktman': 36094,
 'Sources': 30761,
 'Moats': 22339,
 'Concern': 10656,
 'Applequots': 6227,
 'Strategy': 31414,
 'first': 41011,
 'great': 41631,
 'Apple': 6098,
 'Watch': 35268,
 'accessory': 36427,
 'CES': 8856,
 'New': 23628,
 'Seagate': 29536,
 'drive': 40006,
 'streams': 50455,
 'content': 38850,
 'Chromecast': 10008,
 'TV': 32185,
 'Tech': 32430,
 'Emerge': 13672,
 '2015': 1543,
 'LG': 19887,
 'Galaxy': 15984,
 'S6': 28743,
 'Kodak': 19762,
 'Smartphone': 30489,
 'Inc': 18334,
 'AAPL': 4468,
 'Facing': 14662,
 'Class': 10136,
 'Action': 5102,
 'Lawsuit': 20180,
 'Falsely': 14730,
 'Advertising': 5263,
 'iPhone': 42294,
 'iPad': 42276,
 'Storage': 31358,
 'Capacity': 9327,
 'Unexpected': 34104,
 'Trends': 33414,
 '6': 3524,
 'Sales': 29178,
 'Continue': 10857,
 'Propel': 26585,
 'iBeaconquots': 42199,
 'Hardware': 17065,
 'Specifications': 30844,
 'Published': 26687,
 'FCC': 14448,
 'Hacking': 16911,
 'Tool': 33095,
 'Claims': 10112,
 'Breach': 8314,
 'iCloud': 42214,
 'Pay': 25330,
 'Killer': 19654,
 'Prospects': 26608,
 'AAPLquots': 4491,
 'iWatch': 42370,
 'Disappointment': 12520,
 'Fred': 15600,
 'Wilson': 35667,
 'Expect': 14245,
 'Skyworks': 30363,
 'Solutions': 30679,
 'SWKS': 29091,
 'Southwest': 30771,
 'Airlines': 5451,
 'Co': 10279,
 'LUV': 19983,
 'SIMfree': 28860,
 'Plus': 25928,
 'reportedly': 48715,
 'debuting': 39341,
 'tomorrow': 51235,
 'Lenovoquots': 20313,
 'wearable': 52205,
 'Vibe': 34760,
 'Band': 7258,
 'VB10': 34414,
 'lowcost': 43486,
 'looker': 43440,
 'stock': 50374,
 '79B': 4009,
 'freefall': 41282,
 'Consumer': 10823,
 'Reluctance': 27837,
 'Buy': 8697,
 'May': 21694,
 'Prevent': 26351,
 'Success': 31617,
 'Amazon': 5737,
 'AMZN': 4702,
 'Recover': 27584,
 'Response': 28078,
 'Positive': 26093,
 'Indicators': 18425,
 'Topeka': 33123,
 'Intel': 18678,
 'Launches': 20161,
 'Broadwell': 8458,
 'Chips': 9959,
 'Users': 34371,
 'Likely': 20464,
 'Wait': 35134,
 'Skylake': 30350,
 'Nasdaqquots': 23434,
 '10': 194,
 'active': 36484,
 'stocks': 50385,
 '1': 193,
 'pm': 45223,
 'TapSense': 32329,
 'Tries': 33439,
 'Win': 35672,
 'Ad': 5132,
 'Market': 21523,
 'NVIDIA': 23148,
 'Tegra': 32512,
 'X1': 35966,
 'benchmarks': 37456,
 'put': 45765,
 'A8X': 4454,
 'notice': 44418,
 'Ride': 28300,
 'Rise': 28373,
 'Decline': 11975,
 'Corporate': 11020,
 'Says': 29327,
 'UBS': 33747,
 'Samsung': 29217,
 'Hopes': 17644,
 'Software': 30632,
 'Make': 21351,
 'Google': 16426,
 'Smart': 30469,
 'Homes': 17602,
 'Evercore': 14093,
 'ISI': 18066,
 'Reiterates': 27780,
 'Rating': 27366,
 'Microsoft': 22047,
 'Corporation': 11021,
 'MSFTquots': 21146,
 'Nokia': 23809,
 '215': 1685,
 'Phone': 25635,
 '29': 2104,
 'Middle': 22095,
 'East': 13410,
 'Asia': 6491,
 'Africa': 5328,
 'Europe': 14056,
 'Interesting': 18724,
 'February': 14886,
 'Stock': 31300,
 'Options': 24477,
 'Bitcoin': 7861,
 'Prices': 26373,
 'Slump': 30449,
 'Electronics': 13589,
 'Tizen': 33032,
 'OSPowered': 24106,
 'Television': 32543,
 'Challenge': 9699,
 'Googlequots': 16459,
 'Android': 5892,
 'PageMeUp': 25054,
 '112': 423,
 'updated': 51810,
 'OS': 24103,
 'X': 35964,
 'Easily': 13408,
 'lay': 43161,
 'web': 52213,
 'sites': 49800,
 'magazines': 43560,
 'Global': 16323,
 'Equities': 13950,
 'Hikes': 17447,
 'Target': 32347,
 'Price': 26363,
 '150': 909,
 'Opens': 24421,
 'Frontier': 15677,
 'Advertisers': 5262,
 'leads': 43174,
 'Christmas': 9998,
 'week': 52222,
 'device': 39594,
 'activations': 36483,
 'IBM': 17882,
 'Holiday': 17551,
 'online': 44561,
 'sales': 49173,
 'surge': 50669,
 '139': 795,
 'China': 9911,
 'News': 23655,
 'January': 19127,
 '05': 71,
 'Advises': 5271,
 'Investors': 18855,
 'Go': 16356,
 'Long': 20688,
 'Look': 20708,
 'Nexus': 23690,
 'Need': 23509,
 'Know': 19748,
 'Tim': 32968,
 'Cook': 10926,
 'Named': 23391,
 'CEO': 8848,
 'Year': 36119,
 'looks': 43443,
 'set': 49504,
 'release': 48605,
 'reinvented': 48572,
 'nextgeneration': 44326,
 '12inch': 697,
 'according': 36437,
 'new': 44301,
 'leak': 43176,
 'ThinkPad': 32793,
 'button': 37978,
 'Uturn': 34393,
 'sign': 49741,
 'strength': 50459,
 'Rumour': 28682,
 'Mill': 22146,
 'Predictions': 26272,
 'Launch': 20153,
 'Create': 11222,
 'Pro': 26433,
 'Showcase': 30068,
 'Stereo': 31255,
 'Speakers': 30824,
 'Take': 32264,
 'Bite': 7868,
 '24': 1830,
 'Hours': 17709,
 'Monday': 22453,
 'Jan': 19119,
 '5': 3165,
 'Announcing': 5954,
 'Music': 22788,
 'Launcher': 20159,
 'iOS': 42259,
 '8': 4041,
 'Notification': 23946,
 'Center': 9645,
 'Widget': 35621,
 'Indiaquots': 18416,
 'ABP': 4512,
 'Group': 16655,
 'joins': 42919,
 'Magzter': 21316,
 'maximize': 43713,
 'global': 41526,
 'digital': 39644,
 'presence': 45449,
 'Volatility': 34939,
 'Plate': 25839,
 'Insider': 18606,
 'Selling': 29686,
 'Oracle': 24494,
 'ORCL': 24100,
 'Macyquots': 21262,
 'Topekaquots': 33124,
 'Facebook': 14637,
 'Yahoo': 36097,
 '3': 2260,
 'Key': 19586,
 'Reasons': 27479,
 'Could': 11080,
 'Shine': 29974,
 'MileBug': 22135,
 '30': 2261,
 'adds': 36523,
 'Cloud': 10249,
 'Support': 31778,
 'data': 39275,
 'backup': 37268,
 'crossdevice': 39128,
 'syncing': 50789,
 'Biggest': 7744,
 'Show': 30067,
 'GoodReader': 16415,
 'VoiceOver': 34929,
 'compatibility': 38633,
 'PDF': 24844,
 'accessibility': 36423,
 'Save': 29306,
 'Bundle': 8614,
 'Buying': 8715,
 'iNutrients': 42258,
 'Apps': 6283,
 'App': 6060,
 'Spider': 30897,
 'Solitaire': 30670,
 '3D': 2718,
 'released': 48607,
 'Mac': 21196,
 'Images': 18195,
 'Additional': 5170,
 'Surface': 31803,
 'Yusic': 36229,
 'YouTube': 36193,
 'Player': 25866,
 'Updated': 34288,
 'Major': 21346,
 'Features': 14881,
 'iMoonU': 42252,
 'Original': 24540,
 'Moon': 22537,
 'Phase': 25604,
 'iBooks': 42207,
 'Brain': 8269,
 'Fuel': 15702,
 'Cookbook': 10931,
 'makes': 43591,
 'brainfriendly': 37769,
 'cooking': 38917,
 'simple': 49770,
 'Delegate': 12070,
 'Distribute': 12656,
 'Daily': 11731,
 'Tasks': 32366,
 'Team': 32412,
 'iColl': 42216,
 '22': 1719,
 'AwardWinning': 6824,
 'Innovative': 18581,
 'Interactive': 18713,
 'Book': 8139,
 'Photographers': 25650,
 'Released': 27814,
 'Tap': 32326,
 'Studio': 31521,
 'eSports': 40093,
 'Rhythm': 28275,
 'Game': 16001,
 'Editor': 13491,
 'Another': 5964,
 'Annotator': 5947,
 'Reader': 27431,
 'Race': 27217,
 'Parking': 25194,
 'Space': 30784,
 'Car': 9369,
 'Available': 6774,
 'Stay': 31195,
 'Track': 33224,
 'Yearquots': 36129,
 'Goals': 16374,
 'ez': 40738,
 'Tasking': 32365,
 'Best': 7647,
 'Card': 9384,
 'Blind': 7958,
 'Try': 33574,
 'THETA': 32070,
 'Poker': 25976,
 'Texas': 32683,
 'Hold': 17539,
 'quotEm': 46257,
 '7': 3795,
 'PLANETS': 24899,
 'Free': 15604,
 'limited': 43310,
 'time': 51179,
 'Store': 31361,
 'WorstPerforming': 35895,
 'Computing': 10635,
 'Stocks': 31321,
 '2014': 1542,
 'iPads': 42290,
 'get': 41480,
 'Stylus': 31557,
 'Technology': 32488,
 'Transforming': 33315,
 'Cars': 9473,
 'Phones': 25641,
 'Wheels': 35548,
 'MacBook': 21197,
 'Air': 5414,
 'Leaked': 20224,
 'Photo': 25644,
 'rumored': 49128,
 'March': 21478,
 'employee': 40291,
 'training': 51368,
 'soon': 50047,
 'Fundraising': 15752,
 'site': 49798,
 'Kickstarter': 19640,
 'drops': 40023,
 'payments': 44962,
 'Patents': 25291,
 'Imply': 18262,
 'Flexible': 15249,
 'REPORT': 27072,
 'Update': 34286,
 'Sysco': 31987,
 'NYSESYY': 23332,
 'Microsite': 22046,
 'Benefit': 7593,
 'Foodservice': 15381,
 'Industryquots': 18462,
 'FastGrowing': 14811,
 'Hispanic': 17493,
 'Segment': 29634,
 'next': 44323,
 'major': 43582,
 'revealed': 48906,
 'Meet': 21831,
 'radically': 48243,
 'Report': 27954,
 'single': 49784,
 'nextgen': 44325,
 'USB': 33893,
 'port': 45288,
 'Mophie': 22550,
 'launches': 43144,
 'Juice': 19323,
 'Pack': 25035,
 'Killing': 19658,
 'Extra': 14346,
 'slid': 49878,
 '11': 386,
 'weeks': 52228,
 'launch': 43142,
 'totally': 51282,
 'redesigned': 48474,
 'offers': 44499,
 'unlocked': 51753,
 'US': 33818,
 'carriers': 38123,
 'Huge': 17756,
 'reveals': 48909,
 'FB': 14429,
 'Dominate': 12784,
 'Unlocked': 34205,
 'SIM': 28858,
 'Compares': 10553,
 'SSNLF': 29006,
 'GOOGL': 15885,
 'MSFT': 21142,
 'Receives': 27527,
 'Devices': 12335,
 'Lifestream': 20433,
 'SmartGlasses': 30475,
 '6c': 3774,
 'date': 39285,
 'rumors': 49130,
 'images': 42412,
 'quotApple': 45940,
 'making': 43593,
 'another': 36832,
 '4inch': 3149,
 'iPhonequot': 42321,
 'Rivet': 28416,
 'Radio': 27243,
 'partners': 44896,
 'American': 5792,
 'Public': 26680,
 'Media': 21803,
 'Perla': 25522,
 'HaneyJardine': 17014,
 'cast': 38154,
 'Lisa': 20544,
 'Universalquots': 34179,
 'Steve': 31266,
 'Jobs': 19232,
 'biopic': 37553,
 'Notable': 23921,
 'ETF': 13290,
 'Inflow': 18493,
 'Detected': 12274,
 'VTI': 34510,
 'JNJ': 19048,
 'PG': 24870,
 'Alibaba': 5548,
 'Holding': 17544,
 'Ltd': 20838,
 'NYSEBABA': 23194,
 'Perform': 25498,
 'Nosedived': 23912,
 'Arment': 6407,
 'Rescinds': 28009,
 'HeadlineMaking': 17181,
 'Blog': 7990,
 'Post': 26104,
 'gains': 41399,
 'eight': 40210,
 'banks': 37328,
 'Offers': 24240,
 'Smartphones': 30492,
 'Carriers': 9462,
 'big': 37510,
 'changes': 38256,
 'Q1': 26789,
 'Starts': 31154,
 'SIMFree': 28859,
 'Ignore': 18164,
 'Incquots': 18379,
 'Declining': 11981,
 'Sell': 29674,
 'Cumberbatch': 11406,
 'talks': 50843,
 'Doctor': 12728,
 'Strange': 31400,
 'seeing': 49396,
 'Turing': 33638,
 'logos': 43416,
 'holiday': 42059,
 'season': 49350,
 'appears': 36962,
 'strong': 50486,
 'ChronoAgent': 10014,
 'Version': 34719,
 '15': 908,
 'Marissa': 21513,
 'Mayer': 21697,
 'Wrong': 35951,
 'YHOO': 36080,
 'investors': 42827,
 'lost': 43470,
 'NetSuxxess': 23573,
 'Contracts': 10869,
 '202': 1571,
 'app': 36949,
 'EMail': 13233,
 'Reminder': 27859,
 'Feature': 14874,
 'followed': 41166,
 '7Digital': 4016,
 'Amphion': 5837,
 'Innovations': 18580,
 'Fitbug': 15165,
 'Coalfields': 10297,
 'Limited': 20476,
 '1020': 266,
 'Million': 22159,
 'Units': 34172,
 'Gene': 16124,
 'Munster': 22766,
 'OIL': 24062,
 'CRASHES': 9058,
 'DOW': 11658,
 'FALLS': 14412,
 '330': 2405,
 'Herequots': 17335,
 'DIA': 11605,
 'SPY': 28984,
 'QQQ': 26830,
 'TLT': 32096,
 'IWM': 18101,
 'USO': 33918,
 'HLF': 16837,
 'BHI': 6947,
 'Commanding': 10480,
 'Strong': 31486,
 'Demand': 12113,
 'Even': 14080,
 'Continues': 10859,
 'Fall': 14719,
 'throws': 51146,
 'gauntlet': 41442,
 'open': 44575,
 'Internet': 18744,
 'Things': 32788,
 'iDevices': 42221,
 'Announces': 5953,
 'HomeKit': 17582,
 'Plug': 25909,
 'earnings': 40114,
 'call': 38025,
 'tap': 50857,
 '27': 2009,
 'start': 50291,
 'selling': 49436,
 'models': 44015,
 'Tuesday': 33596,
 'issues': 42870,
 'fourth': 41249,
 'developer': 39584,
 'beta': 37484,
 '10102': 238,
 'NASDAQAAPL': 22874,
 'Nomura': 23826,
 'Losing': 20752,
 'Hurt': 17814,
 'Sees': 29627,
 'IPhone': 18038,
 'Beating': 7465,
 'Consensus': 10772,
 'Surges': 31814,
 'Wall': 35174,
 'Street': 31439,
 'settles': 49515,
 'higher': 41968,
 'Dow': 12874,
 'rallies': 48269,
 '12': 532,
 'oil': 44519,
 'rises': 49004,
 'powers': 45371,
 '68': 3716,
 'iPhones': 42325,
 'Adoption': 5225,
 'Rate': 27355,
 'Climbs': 10205,
 'Percent': 25483,
 'Search': 29546,
 'Skirmish': 30335,
 'Small': 30460,
 'Piece': 25700,
 'Bigger': 7742,
 'Puzzle': 26777,
 'York': 36178,
 'prosecutor': 45659,
 'calls': 38029,
 'law': 43149,
 'fight': 40927,
 'encryption': 40327,
 'NASDAQGOOG': 22924,
 'could': 38988,
 'boost': 37704,
 'Analyst': 5863,
 'Might': 22118,
 'Crush': 11347,
 'Competition': 10569,
 'Jon': 19274,
 'Steinberg': 31233,
 'Critical': 11284,
 'Industry': 18457,
 'Rival': 28400,
 'soars': 50001,
 'rebounds': 48384,
 'ahead': 36645,
 'Fed': 14887,
 'minutes': 43943,
 'Release': 27812,
 'Gains': 15977,
 'Today': 33053,
 'Delivery': 12100,
 'Reports': 27964,
 'Proof': 26580,
 'Affecting': 5305,
 '6Plus': 3765,
 'take': 50827,
 'market': 43650,
 'share': 49557,
 'Pixel': 25791,
 'Scan': 29344,
 'Slides': 30410,
 '2': 1499,
 'Rumors': 28681,
 'Products': 26505,
 'State': 31164,
 'Art': 6446,
 'Gadgets': 15962,
 'Must': 22811,
 'Adapt': 5150,
 'World': 35868,
 'Ruled': 28666,
 'Ground': 16649,
 'Patent': 25284,
 'Indicates': 18420,
 'Audio': 6665,
 'Switcher': 31934,
 '25': 1895,
 'Menu': 21920,
 'Bar': 7310,
 'Applet': 6240,
 'Managing': 21412,
 'Payments': 25353,
 'Dropped': 13016,
 'Startup': 31155,
 'Stripe': 31477,
 'HTC': 16882,
 'Crosshairs': 11311,
 'Monster': 22511,
 'Files': 15016,
 'Beats': 7469,
 'Acquisition': 5083,
 'Armour': 6410,
 'Debuts': 11928,
 'quotSocial': 47060,
 'Network': 23606,
 'Activityquot': 5123,
 'Owned': 24765,
 'Sued': 31638,
 'pushes': 45763,
 'may': 43716,
 'Retina': 28158,
 'Display': 12608,
 'Macbook': 21226,
 'Stealth': 31209,
 '125': 619,
 'publishers': 45716,
 'days': 39299,
 'Journal': 19294,
 'sues': 50586,
 'headphone': 41857,
 'deal': 39317,
 'thatquots': 51045,
 'MEANT': 21020,
 'bend': 37457,
 'patents': 44932,
 'flexible': 41093,
 'phone': 45072,
 'design': 39530,
 'Dolphin': 12778,
 'Treasure': 33376,
 'Hunt': 17795,
 'Educational': 13505,
 'Children': 9892,
 'Movie': 22653,
 'Quiz': 26985,
 'Bxtel': 8733,
 'Releases': 27815,
 'Tinnitus': 33002,
 'Sound': 30744,
 'Amplifier': 5844,
 'Consumers': 10824,
 'Sues': 31641,
 'Unit': 34161,
 'Deal': 11892,
 'Company': 10539,
 'Prosecutor': 26606,
 'Calls': 9217,
 'Law': 20175,
 'Fight': 14995,
 'Data': 11807,
 'Encryption': 13758,
 'Scheduled': 29381,
 'severing': 49528,
 'ties': 51164,
 'acquisition': 36470,
 'report': 48713,
 'secret': 49371,
 'chip': 38336,
 'Intelquots': 18694,
 'allow': 36716,
 'finally': 40958,
 'go': 41546,
 'sloppy': 49896,
 'security': 49390,
 'exposed': 40695,
 'supersecret': 50635,
 'product': 45570,
 'plans': 45166,
 'Icahn': 18116,
 'Fave': 14846,
 'nobrainer': 44354,
 'SunEdison': 31684,
 'Buys': 8723,
 'Turbines': 33628,
 '16': 1008,
 'GW': 15947,
 'Wind': 35677,
 'Energy': 13789,
 'Projects': 26555,
 'Engineering': 13805,
 'History': 17502,
 'top': 51251,
 'wins': 52341,
 'Emmys': 13691,
 'awarded': 37226,
 'BlackBerry': 7890,
 'Unveils': 34271,
 'IoT': 18878,
 'Platform': 25842,
 'Adds': 5178,
 'BBM': 6898,
 'Wear': 35375,
 'Office': 24241,
 'Sway': 31884,
 'MUJO': 21170,
 'Week': 35426,
 'Fiscal': 15145,
 'Results': 28116,
 'quotWickedly': 47320,
 'Successfulquot': 31621,
 'Crude': 11334,
 'Oil': 24274,
 'Ruble': 28642,
 'etc': 40488,
 'Charts': 9784,
 'Keep': 19544,
 'Eyes': 14379,
 'quot15': 45839,
 'update': 51809,
 'Chipmaker': 9948,
 'Review': 28223,
 'QUALCOMM': 26846,
 'QCOM': 26814,
 'Nvidia': 24018,
 'NVDA': 23146,
 'Broadcom': 8443,
 'BRCM': 7027,
 'Created': 11223,
 'Innovation': 18577,
 'Jobsquot': 19239,
 'hijacked': 42002,
 'SanDisk': 29225,
 'Showcases': 30069,
 'Much': 22671,
 'Better': 7670,
 'Expected': 14249,
 'Carl': 9426,
 'Reaffirms': 27444,
 'Bullish': 8594,
 'View': 34800,
 'Expects': 14253,
 'Rebound': 27499,
 'Jim': 19211,
 'Cramer': 11187,
 'Trading': 33259,
 'SunTrust': 31689,
 'Bank': 7274,
 'Eaton': 13427,
 'Really': 27463,
 'Generated': 16131,
 '103': 279,
 'million': 43894,
 'December': 11945,
 'Quarter': 26915,
 'Average': 6789,
 'Cantor': 9315,
 'Fitzgerald': 15170,
 'Components': 10608,
 'Dismissed': 12591,
 'Surge': 31810,
 'Represents': 27976,
 'sold': 50019,
 'quarter': 45785,
 'better': 37488,
 'average': 37209,
 'Passport': 25266,
 'Living': 20595,
 'One': 24348,
 'Second': 29570,
 'Thoughts': 32824,
 'Canada': 9262,
 'early': 40105,
 '9to5Mac': 4431,
 'reports': 48720,
 '09': 181,
 'recall': 48395,
 'Gala': 15981,
 'Granny': 16532,
 'Smith': 30507,
 'central': 38220,
 'California': 9198,
 'ATandT': 4868,
 'Backs': 7168,
 'Curves': 11454,
 'Square': 31021,
 'dismissal': 39760,
 'lawsuit': 43157,
 'logic': 43412,
 'boards': 37652,
 'raises': 48262,
 'minimum': 43926,
 'prices': 45495,
 'UK': 33773,
 'Defective': 12019,
 'Logic': 20664,
 'Boards': 8054,
 'Grows': 16670,
 'Partners': 25234,
 'Eight': 13538,
 'Credit': 11238,
 'Unions': 34154,
 'Engine': 13803,
 'Contract': 10864,
 'Coming': 10472,
 'End': 13759,
 'Bought': 8208,
 'Netflix': 23575,
 'Tesla': 32638,
 'Twitter': 33696,
 'Still': 31285,
 'Spent': 30887,
 'Buybacks': 8711,
 'Anyone': 6033,
 'Else': 13639,
 'Revenue': 28208,
 'Grew': 16614,
 'Get': 16203,
 'copy': 38937,
 'Obscurae': 24175,
 'Magazine': 21284,
 'today': 51216,
 'Monitor': 22486,
 'Trello': 33402,
 'Stats': 31187,
 'Numerics': 24004,
 'Business': 8666,
 'Dashboard': 11803,
 'Label': 20005,
 'Templates': 32568,
 'Pages': 25056,
 'Grab': 16494,
 'Fake': 14716,
 'Chinese': 9936,
 'Trades': 33255,
 'Higher': 17411,
 'Estimates': 14019,
 'game': 41407,
 'Foggy': 15346,
 'Runner': 28692,
 'HD': 16795,
 'combines': 38569,
 'melodicbouncing': 43768,
 'steampunkdesign': 50331,
 'Lands': 20073,
 'Supply': 31772,
 'Processors': 26481,
 'Say': 29323,
 'Mini': 22203,
 'Language': 20083,
 'Mind': 22179,
 'Gap': 16034,
 'Hits': 17510,
 'TopTen': 33120,
 'Word': 35830,
 'Games': 16016,
 '50': 3166,
 'Countries': 11107,
 'Digital': 12430,
 'releases': 48608,
 'amusing': 36778,
 'Jambas': 19107,
 'Dodge': 12745,
 'Empty': 13723,
 'Flask': 15219,
 'Infinite': 18482,
 'Warrior': 35247,
 'BattleMage': 7413,
 'Learn': 20240,
 'Help': 17299,
 'Healthy': 17218,
 'Old': 24290,
 'Age': 5347,
 '4': 2790,
 'Ways': 35335,
 'Home': 17579,
 'Lot': 20759,
 'Smarter': 30485,
 'Top': 33106,
 'Cool': 10940,
 'Fun': 15731,
 'Announce': 5948,
 'Fourth': 15536,
 'Zombies': 36341,
 'Stole': 31336,
 'Moonshine': 22540,
 'Vs': 34981,
 'Play': 25853,
 'Dominating': 12787,
 'Downloads': 12896,
 'Revenues': 28212,
 'papersOil': 44858,
 'traders': 51347,
 'hoard': 42040,
 'crude': 39145,
 'sea': 49339,
 '120': 533,
 'Share': 29883,
 'Milunovich': 22173,
 'Favorite': 14852,
 'faulty': 40850,
 'dismissed': 39761,
 'quotLeakedquot': 46579,
 'Shot': 30055,
 'Supports': 31784,
 'Charlie': 9771,
 'Hebdo': 17258,
 'Rises': 28377,
 'Tells': 32549,
 'CNBC': 8946,
 'quotNo': 46751,
 'Brainerquot': 8272,
 'Comment': 10488,
 'TWTR': 32205,
 '18pc': 1252,
 'rise': 49001,
 'steady': 50324,
 'years': 52529,
 'ago': 36636,
 'unveiled': 51795,
 'changed': 38251,
 'world': 52428,
 'Weekly': 35435,
 ...}

In [78]:
headlines_c=c_vectorizer.transform(a['Headlines'])
print(headlines_c)

  (0, 1543)	6
  (0, 3524)	1
  (0, 4468)	4
  (0, 4491)	1
  (0, 5102)	1
  (0, 5263)	1
  (0, 5451)	1
  (0, 6098)	11
  (0, 6227)	2
  (0, 8314)	1
  (0, 8856)	2
  (0, 9327)	1
  (0, 10008)	1
  (0, 10112)	1
  (0, 10136)	1
  (0, 10279)	1
  (0, 10656)	1
  (0, 10857)	1
  (0, 12520)	1
  (0, 12797)	1
  (0, 13672)	1
  (0, 14245)	1
  (0, 14448)	1
  (0, 14662)	1
  (0, 14730)	1
  :	:
  (1595, 50374)	1
  (1595, 50385)	2
  (1595, 50402)	1
  (1595, 50410)	3
  (1595, 50669)	1
  (1595, 50801)	1
  (1595, 50918)	1
  (1595, 50976)	2
  (1595, 51046)	1
  (1595, 51094)	1
  (1595, 51348)	1
  (1595, 51353)	1
  (1595, 51401)	1
  (1595, 51537)	1
  (1595, 51577)	1
  (1595, 51873)	1
  (1595, 51901)	1
  (1595, 51913)	1
  (1595, 51990)	1
  (1595, 52053)	1
  (1595, 52122)	1
  (1595, 52131)	2
  (1595, 52222)	3
  (1595, 52435)	1
  (1595, 52529)	2

In [79]:
X=headlines_c.toarray()
print(X)
X.shape

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

(1596, 52583)

In [80]:
from sklearn.feature_extraction.text import TfidfTransformer
T_transformer=TfidfTransformer().fit(headlines_c)
print(T_transformer)

TfidfTransformer(norm='l2', smooth_idf=True, sublinear_tf=False, use_idf=True)

In [81]:
Headlines_T=T_transformer.transform(headlines_c)
print(Headlines_T)
print(Headlines_T.shape)

  (0, 50455)	0.14278115621961898
  (0, 42370)	0.13398837094434463
  (0, 42294)	0.06909026149464055
  (0, 42276)	0.03926445887721081
  (0, 42214)	0.09013379269993785
  (0, 42199)	0.1666053072054037
  (0, 41631)	0.09045506786156966
  (0, 41011)	0.052536562245264505
  (0, 40006)	0.09637237313517381
  (0, 38850)	0.09078117440937906
  (0, 36427)	0.11561414341748023
  (0, 36094)	0.1666053072054037
  (0, 35667)	0.15157394149489337
  (0, 35268)	0.08750331085374395
  (0, 34104)	0.1244069286927546
  (0, 33414)	0.07658719755359823
  (0, 33095)	0.09284804016134816
  (0, 32430)	0.02797410414736247
  (0, 32185)	0.043687523561615
  (0, 31414)	0.06914470105776782
  (0, 31358)	0.10058277770696991
  (0, 30844)	0.15781252193012932
  (0, 30771)	0.11016421995855993
  (0, 30761)	0.11667219114713287
  (0, 30679)	0.08010148853753925
  :	:
  (1595, 5145)	0.0414270051767497
  (1595, 5122)	0.035435708517590744
  (1595, 4702)	0.01686335432888953
  (1595, 4676)	0.03485068692704856
  (1595, 4606)	0.020668235012708414
  (1595, 4468)	0.007501924789945299
  (1595, 4197)	0.05151162653465749
  (1595, 4041)	0.0312563839533724
  (1595, 3795)	0.027272142954194865
  (1595, 3725)	0.05151162653465749
  (1595, 3167)	0.015409366087066381
  (1595, 3165)	0.024018008819095424
  (1595, 3091)	0.05151162653465749
  (1595, 2794)	0.039498138498510575
  (1595, 2790)	0.028175412985285843
  (1595, 2480)	0.040081537193718215
  (1595, 2260)	0.020718109103570807
  (1595, 1591)	0.059333121160040414
  (1595, 1585)	0.02172429255638994
  (1595, 1499)	0.012670308337219672
  (1595, 830)	0.042216723391733456
  (1595, 706)	0.021157347502163092
  (1595, 532)	0.017236487939849908
  (1595, 194)	0.03944034310616885
  (1595, 193)	0.01435825609170504
(1596, 52583)

In [84]:
y=a['profit/loss']

In [92]:
x_train = Headlines_T[:80]
y_train = y[:80]
x_test= Headlines_T[80:]
y_test= y[80:]

In [93]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()

In [94]:
model.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [95]:
y_pred=model.predict(x_test)

In [96]:
y_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [97]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.5224274406332454